<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <input-field>
            <name>jobApplicationEmail</name>
            <label>E-Mail address which get informed when job application is submitted</label>
            <label lang="de-DE">E-Mail-Adresse, die benachrichtigt wird, wenn eine Bewerbung eingereicht wird.</label>
            <label lang="fr-FR">Adresse e-mail qui est informée lorsque la candidature est soumise.</label>
        </input-field>
    </card>
</config>