ol.breadcrumb{
    margin-bottom: rem(20);
    text-transform: uppercase;
    line-height: rem(22);
    color: $border-grey-color;
    padding: 0;

    @include mobile-lg() {
        line-height: rem(18);
    }

    a, span{
        font-size: rem(16);
        color: $border-grey-color;

        @include mobile-lg() {
            font-size: rem(12);
        }
    }

    a{
        &:hover{
            span{
                color: $primary-color;
            }
        }
        &.is-active{
            font-weight: normal;
        }
    }
}

.is-ctl-product{
    .cms-element-manufacturer-logo{display: none;}
    ol.breadcrumb{
        margin-top: rem(30);

        @include tablet-md(){
            margin-top: rem(0);
        }
    }

    .cms-breadcrumb{
        @include mobile-lg(){
            padding-left: rem(30);
        }
    }
    .content-main > .container > nav{
        @include tablet-md(){
            display: none;
        }
    }
}